@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
  

body {
    font-family: 'Montserrat'
}

.font-worksans {
    font-family: 'Work Sans';
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Bookman Old Style';
  src: url('/Bookman Old Style/BookmanOldStyle.ttf') format('truetype');
  font-weight: 400;
}